{% extends "base.html" %}
{% block title %}Register{% endblock %}
{% block body %}

{% with messages = get_flashed_messages() %}
{% if messages %}
<ul class=flashes>
    {% for message in messages %}
    <li>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}
{% endwith %}

<div class="container">
    <form class="form-horizontal" role="form" method=post action="/register">
        {{ form.hidden_tag() }}
        {{ render_field(form.username) }}
        {{ render_field(form.password) }}
        {{ render_field(form.confirm) }}
        {{ form.submit(class_='btn btn-primary') }}
    </form>
</div>
{% endblock %}